.chess_highlight { /* (*) great example of box-shadow use */
    box-shadow: 0 0 0 3px cyan;
    transition: all 200ms ease-out;
}

.centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.centered
{
    display: inline-block;
    vertical-align: middle;
}
