/*
 * preamble, prerogatives, forewords
 */

 /* for chess:
     #2b2d42 #8d99ae #edf2f4 #ef233c #d90429
 for main page:

     #0b132b #1c2541 #3a506b #5bc0be #6fffe9
     #36213e #554971 #63768d #8ac6d0 #b8f3ff

     #13293d #006494 #247ba0 #1b98e0 #e8f1f2

     #dcdcdd #c5c3c6 #46494c #4c5c681985a1 #*/

* {
    font-family: Quicksand, Open Sans, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    color: #37898c;
    background-color: #5d9cec;
}
.header, .search {
    background-color: #ac92ec;
}
/* #main_container div {
    padding: 5px;
    float: left;
} */

/* getting the layout working */
#main_container {

    display: grid;
    grid-template-columns: 1fr 8fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "logo header search"
    "sidebar content hud";
    align-items: center;
}
/* . */
.logo {
    grid-area: logo;
    justify-self: right;
    padding-right: 32px;
}
.logo img {
    height: 64;
    width: 64;
}
.header{
    grid-area: header;
    justify: center;
    border-radius: 15px 0 0 0;
}
.header h1{
    text-align: center;
}
.search {
    grid-area: search;
    align-self: stretch;
    /* . */
    border-radius: 0 15px 0 0;
    padding: 0 16px 0 16px;
}
div.search.centered {
    display: inline-block; /* this and auto width makes for a tight box */
}
div.search.centered input {
    width: 100px;
}
.centered { /*remember to try this for the logo, because it's the better way */
    align-self: center;
}
/* #input_id {
    align-self: center;
} */
.sidebar {
    grid-area: sidebar;
    align-self: stretch; /* if i don't stretch, it remains in the middle, and depends upon the size of content */

    padding-right: 16px;
    background-color: grey;
    border-radius: 15px 0 0 0;

}
.sidebar div ul {
    width: 140px;

    vertical-align: top;
}
.content {
    grid-area: content;
    padding: 0 16px 0 16px;
    align-self: stretch;
    background-color: cyan;
    /* . */
    font-size: 12;
}
.hud {
    grid: hud;
    background-color: grey;
    align-self: stretch;
}
/* . */
#main_menu {
    display: grid;
    grid-template-columns: auto; /* equiv. to 100px 100px 100px 100px */
}
#main_menu a{
    justify-self: center;
    padding: 10px;
    text-decoration: none;
}
#main_menu a{
    justify-self: right;
}


#main_menu a:hover {
    color: rgb(224, 146, 159);
}
